# Django
SECRET_KEY=change-me-to-a-long-random-string
DEBUG=true

# PostgreSQL
DB_NAME=some_db_name
DB_USER=postgres
DB_PASSWORD=(postgres or Az123456)
DB_HOST=(localhost or postgres)
DB_PORT=5432

# Суперпользователь
SUPERUSER_USERNAME=admin_name
SUPERUSER_PASSWORD=admin_password
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_RU_LOGIN=админ01
SUPERUSER_PHONE=+7(999)-123-45-67
