{% extends "core/base.html" %}

{% block title %}Удаление{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-sm border-danger bento-card bento-card--danger">
            <div class="card-body text-center">

                <h4 class="mb-3 bento-heading">Удалить заявку?</h4>

                <p>
                    <strong>{{ object.get_room_display }}</strong><br>
                    {{ object.start_date|date:"d.m.Y" }}
                </p>

                <form method="post">
                    {% csrf_token %}

                    <button class="btn btn-danger">
                        Да, удалить
                    </button>

                    <a href="{% url 'booking:detail' object.pk %}" class="btn btn-secondary">
                        Отмена
                    </a>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}
